body {
  font-family: "Happy Monkey", system-ui;
  text-align: center;
  background: linear-gradient(#f4a261, rgb(255, 192, 141), #f4a261);
  color: #ffffff;
}

#header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#beto {
  border-radius: 50%;
  width: 180px;
  border: 5px solid #ca6702;
}

h1, h2, h3, h4, p {
  text-shadow: 0px 0px 2px black;
}

#beto-age {
  background: #ca6702;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0 15px 0;
}

#beto-date {
  background: #ca6702 ;
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
}

#audio-text {
  background: #ca6702 ;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
#emoji{
  margin-top: 0;
  font-size: xx-large;
}
.gift-section {
  margin-top: 40px;
  margin-bottom: 20px;
}

.gift-title {
  margin-bottom: 20px;
}

.gift-hint {
  margin-top: -20px;
  margin-bottom: 30px;
}

.gift-img {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-image: url(/images/gift-cover.jpg);
  background-size: cover;
  border: 6px solid white;
  border-radius: 10px;
}

#first-gift:hover {
  background-image: url(/images/happy.gif);
  background-position: center;
  transition: 0.3s;
}
#second-gift:hover {
  background-image: url(/images/surprise.gif);
  background-position: center;
  transition: 0.3s;
}
#third-gift:hover {
  background-image: url(/images/genius.gif);
  background-position: center;
  transition: 0.3s;
}
#fourth-gift:hover {
  background-image: url(/images/badass.gif);
  background-position: center;
  transition: 0.3s;
}
#gift-img-cheers {
  height: 300px;

}

#gift-img-cheers:hover {
  background-image: url("images/cheers.gif");
  background-position: center;
  transition: 0.3s;
}


